@import url('https://fonts.googleapis.com/css?family=Silkscreen:300,400,500,600,700,800,900&display=swap');

:root {
    /* Colors */

    --primary-color: #006746;
    --secondary-color: #460067;
    --tertiary-color: #670055;
    --light-color: #ffbd33;
    --dark-color:#D59000;

    /* Layout */

    --border: /* 1px solid var(--light-color) */ 0;
} 
/* Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    color: var(--light-color);
}
body {
    align-items: center;
}
header {
    top: 0;
    left: 0;
    position: sticky;
    justify-content: space-evenly;
    background: var(--primary-color);
    z-index: 100;
}
header img {
    height: 1rem;
    object-fit: cover;
}
.index li:hover {   
    background: #460067;
    color: #ffbd33;
}
.index li.active {
    background: #ffbd33;
}
.index a.active {
    color: #460067;
}
.toggle-button {
    border: var(--border);
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 2rem;
    padding: 0.25rem;
    height: 2rem;
}
.toggle-button span {
    height: 10%;
    width: 100%;
    background: var(--light-color);
}
.logo {
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    border: var(--border);
    color: var(--light-color);
}
.menu {
    display: none;
    flex-direction: column;
    align-items: center;
}
.menu.active {
    display: flex;
}
.index li {
    padding: 0.5rem;
    border: var(--border);
}
.sm-icons {
    width: 16rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.sm-icons li {
    padding: 0.5rem;
    border: var(--border);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(var(--primary-color), #460067);
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to top, #460067, transparent);
    z-index: 99;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
    mix-blend-mode: screen;
}
section img#mountains_foreground {
    z-index: 10;
}
.section {
    position: relative;
    display: flex;
    flex-direction: column; 
    background: #460067;
}
.section h2 {
    padding: 1em 0;
    color: #ffbd33;
    background: #460067;
}
.section p {
    color: #ffbd33;
}
.section a {
    padding: 0.5rem 2rem;
    background: #ffbd33;
    color: #460067;
    border-radius: 2rem;
    align-items: center;
}
.section a:hover {
    color: #460067;
    background: #D59000;
}
.section article {
    padding: 1rem;
    color: #ffbd33;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #670055;
}
div h2 {
    padding: 2rem 1rem;
    background: #670055;
    color: #ffbd33;
}
.container p {
    color: #ffbd33;
}
.container a {
    color: #ffbd33;
}
.container article {
    padding: 0 1rem 1rem;
    color: #ffbd33;
    display: flex;
    flex-direction: column;
}
.container img {
    width: 100%;
    background: #000;
    height: 16rem;
    object-fit: scale-down;
}
.container article h1 {
    padding-bottom: 1rem;
}
.container article p#date {
    padding: 1rem 0;
    color: #D59000;
}
footer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #006746;
    align-items: center;
    z-index: 100;
}
footer p {
    width: 80%;
    color: #ffbd33;
}
footer ul {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
footer li {
    list-style: none;
    margin: 0.25rem;
}
footer img {
    height: 1rem;
}
@media (min-width: 62rem) {
    header {
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    header nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .toggle-button {
        display: none;
    }
    .logo {
        width: 19rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu { 
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .index {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .index li {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0.75rem;
        width: 100%;
    }
    .sm-icons li {
        padding-top: .875rem;
        width: 100%;
    }
    .section {
        padding: 4rem;   
    }
    .container {
        padding: 0 4rem 4rem;
        flex-direction: initial;
        justify-content: space-evenly;  
    }
    .container article {
        width: 24rem;
    }
    footer {
        flex-direction: initial;
    }
    footer p {
        width: 23%;
    } 
}

/* Typography */

* {
    font-family: 'Silkscreen';
    text-decoration: none;
}
header {
    text-align: center;
}
.logo {
    font-size: 1rem;
}
.index li {
    font-size: 1rem;
}
.section {
    text-align: center;
}
.section h2 {
    font-size: 1.5rem;
}
.section p {
    text-align: justify;
    font-size: 1rem;
}
.section a {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}
div h2 {
    text-align: center;
    font-size: 1.5rem;
}
.container p {
    font-size: 1rem;
}
.container a {
    font-size: 1rem;
    text-decoration: none;
}
.container article h1 {
    font-size: 1rem;
}
.container article p,
.container article a {
    font-size: 0.75rem;
}
footer p {
    text-align: center;
    font-size: 0.5rem;
}
@media (min-width: 62rem) {
    .section h2 {
        font-size: 3rem;
    }
    .section p,
    .section a {
        font-size: 1rem;
    }
    div h2 {
        font-size: 3rem;
    }
    .container p,
    .container a {
        font-size: 1rem;
    }
    footer p {
        text-align: end;
    } 
}